@(id: Int, model: Model[_], companies : Seq[(String, String)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    
    <h1>Edit @model.labels.singular.capitalize</h1>
    
    @form(routes.Application.update(id)) {
        
        <fieldset>
            @model.html.allInputs
            
            @select(
                model.playForm("company"), 
                companies,
                '_label -> "Company", '_default -> "-- Choose a company --",
                '_showConstraints -> false
            )
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.Application.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete" class="btn danger">
    }
    
}
