@(id: Int, modelForm: ModelForm[_,_])(implicit session: play.api.db.slick.Config.driver.simple.Session)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    
    <h1>Edit @modelForm.model.labels.singular.capitalize</h1>
    
    @form(routes.Application.write_edit(id,modelForm.model.labels.singular.capitalize)) {
        
        <fieldset>
            @modelForm.html.allInputs
            @{modelForm match {
                case _:ComputerForm => select(
                    modelForm.playForm("companyId"), 
                    Companies.options,
                    '_label -> "Company", '_default -> "-- Choose a company --",
                    '_showConstraints -> false
                )
                case _ => None
            }}
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.Application.delete(id,modelForm.model.labels.singular.capitalize), 'class -> "topRight") {
        <input type="submit" value="Delete" class="btn danger">
    }
    
}
