@(modelForm: ModelForm[_], id: Option[Int])(implicit session: play.api.db.slick.Config.driver.simple.Session)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    
    <h1>@id.map{_ => Edit}.getOrElse{Create} @modelForm.model.labels.singular.capitalize</h1>

    <script type="text/javascript">
        var schema = {
            @Html(modelForm.model.schema.map{ case (column,(tpe,nullable)) =>
                s"""
                "$column": {
                    "required" : ${if(nullable){ "false" } else { "true" }},
                    "type" : "$tpe"
                }
                """.trim
            }.mkString(",\n"))
        }
        validate(schema, function(dom, value, error) {
            console.log(dom)
            dom.parents(".clearfix").toggleClass("error", !!error)
            !error || console.log("ERROR::", error.message)
        });
    </script>

    
    @form(routes.Application.write(modelForm.model.labels.singular,id)) {
        
        <fieldset>
            @modelForm.html.allInputs

            @{/* relationships */}
            @modelForm.model.referencedModels.map{ case (referencingColumn,referencedModel) =>
                @select(
                    modelForm.playForm(referencingColumn),
                    referencedModel.options,
                    '_label -> referencedModel.labels.singular.capitalize,
                    '_default -> s"-- Choose a ${referencedModel.labels.singular} --",
                    '_showConstraints -> false
                )
            }
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save" class="btn primary"> or 
            <a href="@routes.Application.list(modelForm.model.labels.singular)" class="btn">Cancel</a> 
        </div>
    }
    @id.map{ i =>
        @form(routes.Application.delete(modelForm.model.labels.singular, i), 'class -> "topRight") {
            <input type="submit" value="Delete" class="btn danger">
        }
    }
}
