@(model: Model[_ <: Entity,_], page: Int, currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash, session: play.api.db.slick.Config.driver.simple.Session)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Application.list(model.labels.singular, newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>

}

@model.typed{ m =>

@defining((
    m.list(page = page, orderBy = currentOrderBy, filter = ("%"+currentFilter+"%"))
)){ currentPage =>
@defining((currentPage.items)){ entities =>

@main {
    
    @Model.all.map{ m =>
        | <a href="/@m.labels.singular">@m.labels.plural.capitalize</a>
    }
    <h1>@currentPage.total @model.labels.plural found</h1>

    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }
    @flash.get("error").map { message =>
        <div class="alert-message error">
            <strong>Error!</strong> @message
        </div>
    }

    <div id="actions">
        
        @helper.form(action=routes.Application.list(model.labels.singular)) {
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by @model.labels.singular name...">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
        }
        
        <a class="btn success" id="add" href="@routes.Application.create(model.labels.singular)">Add a new @model.labels.singular</a>
        
    </div>
    
    @if(entities.size > 0){
        <table class="zebra-striped">
            <thead>
                <tr>
                    @m.html.headings.map{ h => <th> @h </th> }
                    @m.referencedModels.values.map(_.labels.singular.capitalize).map{ label =>
                        <th>@label</th>
                    }
                </tr>
            </thead>
            <tbody>
                @defining((
                    m.referencedModelsAndIds(entities)
                )){ referencedModelsAndIds =>
                    @entities.map{ entity =>
                        <tr>
                            <td><a href=@routes.Application.edit(m.labels.singular,entity.id.get).url>@m.html.cells(entity).head</a></td>
                            @m.html.cells(entity).tail.map{ cell => <td>@cell</td> }
                            @referencedModelsAndIds.map{ case (referencedModel,referencedEntities) =>
                                <td>
                                    @referencedEntities(entity.id.get).map{ case (rid,tinyDescription) =>
                                        <a href=@routes.Application.edit(referencedModel.labels.singular,rid)>@tinyDescription</a>
                                    }.getOrElse { <em>-</em> }
                                </td>                                
                            }
                        </tr>
                    }
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + entities.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    } else {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    }
        
}
}
}
}